*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.bloop

_site/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea

# ENSIME specific
.ensime_cache/
.ensime

.metals/
metals.sbt
metals/project/

.bsp

.vscode/

local.*

.DS_Store

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*

project/metals.sbt
out/
*.hnir
test-report.json
index.scip

./generated
/sources
bazel-bin
bazel-scip-java
bazel-out
bazel-testlogs
bazel-lsif-java

VERSION

semanticdb-gradle-plugin/gradle
