name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v13
      - uses: actions/setup-go@v2
        with:
          go-version: "^1.13.1"
      - run: go get github.com/sourcegraph/lsif-semanticdb/cmd/lsif-semanticdb
      - run: sbt test
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v13
      - run: sbt checkAll
