name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    runs-on: ${{ matrix.os }}
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        # NOTE(olafurpg) Windows is not enabled because it times out due to reasons I don't understand.
        # os: [windows-latest, ubuntu-latest]
        os: [ubuntu-latest]
        java: [8, 17]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          cache: "sbt"
          java-version: ${{ matrix.java }}
      - run: sbt test

  docker_test:
    runs-on: ${{ matrix.os }}
    name: Docker CLI tests
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          cache: "sbt"
          java-version: 17

      - name: Build Dockerised CLI
        run: sbt cli/docker

      - run: |
          git clone https://github.com/typelevel/case-insensitive.git
          git clone https://github.com/circe/circe.git

          docker run -v $PWD:/sources -w /sources sourcegraph/scip-java:latest scip-java index --cwd case-insensitive
          file case-insensitive/index.scip || (echo "mdoc SCIP index doesn't exist!"; exit 1) 
          
          docker run -v $PWD:/sources -w /sources sourcegraph/scip-java:latest scip-java index --cwd circe
          file circe/index.scip || (echo "circe SCIP index doesn't exist!"; exit 1) 


  bazel:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: yarn global add @bazel/bazelisk
      - run: bazel build //... --//semanticdb-javac:enabled=true
      - run: bazel run scip-semanticdb:bazel -- --sourceroot "$PWD"
      - run: du -h index.scip
      - run: bazel build //... --@scip_java//semanticdb-javac:enabled=true
        working-directory: examples/bazel-example
      - run: bazel run @scip_java//scip-semanticdb:bazel -- --sourceroot "$PWD"
        working-directory: examples/bazel-example
      - run: du -h index.scip
        working-directory: examples/bazel-example

  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: 17
          cache: "sbt"
      - run: sbt checkAll
