name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    runs-on: ${{ matrix.os }}
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        # NOTE(olafurpg) Windows is not enabled because it times out due to reasons I don't understand.
        # os: [windows-latest, ubuntu-latest]
        os: [ubuntu-latest]
        java: [8, 11, 17, 21]
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          cache: "sbt"
          java-version: ${{ matrix.java }}

      - uses: sbt/setup-sbt@v1

      - name: Setup Gradle 8.10
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: '8.10' 

      - name: Main project tests
        run: sbt test 

  docker_test:
    runs-on: ${{ matrix.os }}
    name: Docker CLI tests
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          cache: "sbt"
          java-version: 17

      - uses: sbt/setup-sbt@v1

      - name: Build Dockerised CLI
        run: sbt cli/docker

      - name: Test repos
        shell: bash
        run: |
          set -eu
          check_repo() {
            REPO=$1
            mkdir -p .repos/$REPO
            git clone https://github.com/$REPO.git .repos/$REPO && cd .repos/$REPO && git submodule update --init

            docker run -v $PWD/.repos/$REPO:/sources -w /sources sourcegraph/scip-java:latest scip-java index
            file .repos/$REPO/index.scip || (echo "$REPO SCIP index doesn't exist!"; exit 1)
          }

          sudo apt install parallel
          export -f check_repo

          parallel -j4 check_repo ::: circe/circe indeedeng/iwf-java-sdk

  bazel:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: yarn global add @bazel/bazelisk
      - run: bazel build //... --//semanticdb-javac:enabled=true
      - run: bazel run scip-semanticdb:bazel -- --sourceroot "$PWD"
      - run: du -h index.scip
      - run: bazel build //... --@scip_java//semanticdb-javac:enabled=true
        working-directory: examples/bazel-example
      - run: bazel run @scip_java//scip-semanticdb:bazel -- --sourceroot "$PWD"
        working-directory: examples/bazel-example
      - run: du -h index.scip
        working-directory: examples/bazel-example

  bazel_aspect:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: yarn global add @bazel/bazelisk

      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          cache: "sbt"
          java-version: 17

      - uses: sbt/setup-sbt@v1

      - run: sbt build
      - run: echo "$PWD/out/bin" >> $GITHUB_PATH
      - name: Auto-index scip-java codebase
        run: |
          scip-java index --build-tool=bazel --bazel-scip-java-binary=$(which scip-java)
      - run: du -h index.scip
      - name: Auto-index example/bazel-workspace
        run: |
          scip-java index --build-tool=bazel --bazel-scip-java-binary=$(which scip-java)
        working-directory: examples/bazel-example
      - run: du -h index.scip
        working-directory: examples/bazel-example

  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: 11
          cache: "sbt"

      - uses: sbt/setup-sbt@v1

      - run: sbt --client checkAll

      - name: Run sample benchmarks
        run: sbt --client 'bench/Jmh/run -i 1 -f1 -t1 -foe true'


  maven:
    runs-on: ubuntu-latest
    name: Maven tests
    strategy:
      fail-fast: false
      matrix:
        java: [8, 11, 17, 21]
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          cache: "sbt"
          java-version: ${{ matrix.java }}

      - uses: sbt/setup-sbt@v1

      - run: |
          sbt build publishM2 publishLocal dumpScipJavaVersion
          echo "SCIP_JAVA_VERSION=$(cat VERSION)" >> $GITHUB_ENV
          echo "SCIP_JAVA_CLI=$PWD/out/bin/scip-java" >> $GITHUB_ENV

      - run: |
          mvn clean verify -DskipTests -Dscip-java.version=$SCIP_JAVA_VERSION sourcegraph:sourcegraphDependencies
        working-directory: examples/maven-example

      - run: $SCIP_JAVA_CLI index-semanticdb target/semanticdb-targetroot
        working-directory: examples/maven-example

      - run: |
          set -e
          grep org.hamcrest target/semanticdb-targetroot/*dependencies.txt
          grep $PWD/src/main/java target/semanticdb-targetroot/*dependencies.txt
        working-directory: examples/maven-example

      - run: du -h index.scip
        working-directory: examples/maven-example

