name: Native Image
on:
  push:
    branches:
      - master
  release:
    types: [published]
jobs:
  unix:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest, ubuntu-latest]
        include:
          - os: macOS-latest
            uploaded_filename: lsif-java-x86_64-apple-darwin
            local_path: cli/target/native-image/lsif-java
          - os: ubuntu-latest
            uploaded_filename: lsif-java-x86_64-pc-linux
            local_path: cli/target/native-image/lsif-java
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v10
      - uses: actions/setup-go@v2
        with:
          go-version: "^1.13.1"
      - run: go get github.com/sourcegraph/lsif-semanticdb/cmd/lsif-semanticdb
      - run: git fetch --tags || true
      - name: sbt nativeImage
        shell: bash
        run: |
          sbt cli/nativeImage "cli/nativeImageRun --cwd tests/gradle-example"
      - uses: actions/upload-artifact@master
        with:
          path: ${{ matrix.local_path }}
          name: ${{ matrix.uploaded_filename }}
      - name: Upload release
        if: github.event_name == 'release'
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ${{ matrix.local_path }}
          asset_name: ${{ matrix.uploaded_filename }}
          asset_content_type: application/zip
