name: Sourcegraph
on:
  push:
    branches:
      - main
      - olafurpg/lets-go
    pull_request:
jobs:
  scip:
    runs-on: ubuntu-latest
    name: "Upload SCIP"
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v13
      - uses: actions/setup-go@v2
        with:
          go-version: "1.15.6"
      - name: sbt sourcegraphUpload
        run: |
          mkdir -p bin
          curl -L https://sourcegraph.com/.api/src-cli/src_linux_amd64 -o bin/src
          chmod +x bin/src
          export PATH="$PATH:$PWD/bin"
          sbt sourcegraphUpload
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
